Client/Connected Services/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Kundenservice" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Kundenservice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AktienInfo.ServiceData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AktienInfo.ServiceData" nillable="true" type="tns:AktienInfo.ServiceData" />
  <xs:complexType name="AktienInfo.ReturnedBooks">
    <xs:sequence>
      <xs:element minOccurs="0" name="Books" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hasReturned" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AktienInfo.ReturnedBooks" nillable="true" type="tns:AktienInfo.ReturnedBooks" />
</xs:schema>